@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import 'reset.css';
@import 'colors';
@import 'typography';
@import 'breakpoints';

body {
    font-family: 'Roboto', sans-serif;
    color: $grey-9;
    display: flex;
    flex-direction: column;
}

header {
    background-color: $primary-color-6;
    padding-top: 20px;
    text-align: center;
    min-height: 7vh;
    z-index: 1;
    
    .heading {
        color: $primary-color-2;
        font-size: $font-xxl;
        letter-spacing: 1px;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        margin: auto;
    }
    
    .tagline {
        color: $primary-color-2;
        font-size: $font-baseline;
        font-weight: 300;
    }
    
    .menu {
        font-size: $font-small;
        font-weight: 400;
        padding: 20px 25px 10px 25px;
        display: inline-block;
        
        li {
        list-style-type: none;
        padding: 10px 20px 10px 20px;
        }

        .navbar-light {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='hsl(210,90%,30%)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        button:focus {
            outline: 5px auto $secondary-color-4;
        }
    }
    
    a {
        text-decoration: none;
        color: $grey-9;
        font-weight: 300;
    }
    
    a:hover {
        font-weight:400;
        border-bottom: 5px;
        border-bottom-style: solid;
        color: $secondary-color-4;
        text-decoration: none !important;
    }
    
    a:active {
        font-weight:400;
        border-bottom: 5px;
        border-style: solid;
        color: $secondary-color-4;
    }
}

@media (min-width: $breakpoint-narrow) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%
    }
    
    .sticky + main {
        padding-top: 146px;
    }
}

main {
    padding-left: 16%;
    padding-right: 16%;
    background-color: $grey-9;
    color: $primary-color-5;
    min-height: 100vh;
    text-align: center;

    img {
        padding-bottom: 25px;
    }

    .guest-container {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 5px;
    }
}

@media (max-width: $breakpoint-baseline) {
    main {
        padding-left: 15%;
        padding-right: 15%;
    }
}

.button-container {
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 10px;
    
    button {
        background-color: $primary-color-4 !important;
        color: $grey-9;
        border-color: $primary-color-5;
        margin-right: 5px;
    }

    button:hover {
        background-color: $grey-9 !important;
        color: $primary-color-4;
    }
}

@media (max-width: $breakpoint-mobile) {
    main {
        padding-left: 20px;
        padding-right: 20px;
        min-height: 80vh;

        img {
            width: 100%;
        }
    }
}

footer {
    text-align: center;
    background-color: $primary-color-6;
    color: $grey-9;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 14px;
}

h1 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: $primary-color-3;
    font-weight: 500;
    font-size: $font-xl;
}

h2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: $primary-color-3;
    font-weight: 500;
    font-size: $font-large;
}

h3 {
    color: $primary-color-4;
    font-weight: 700;
    font-size: $font-baseline;
    text-decoration: underline;
    padding-bottom: 10px;
}

h4 {
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: $font-baseline;
    padding-bottom: 5px;
}

form {
    p {
        padding-bottom: 15px;
        color: $grey-5;
        line-height: 120%;
    }
    
    div {
        text-align: left;
        
        label {
            padding-bottom: 3px;
        }
        
        ::placeholder {
            color: $grey-7 !important;
        }
    }
    
    .btn {
        background-color: $secondary-color-2 !important;
        color: $grey-9;
        border-color: $secondary-color-4 !important;
    }
    
    .btn:hover {
        background-color: white !important;
        color: $secondary-color-2 !important;
    }

    .error-messages {
        text-align: left;
        color: red !important;
        font-size: $font-xs;
        padding-bottom: 10px;
    }
}
    
.login {
    background-color: white;
    padding: 30px 30px 30px 30px;
    display: inline-block;
    max-width: 400px;
}

.guest-info {
    text-align: left !important;
    line-height: 200%;
}

.guest-cards {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

@media (max-width: $breakpoint-wide) {
    .guest-cards {
        display: inline-grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: $breakpoint-mobile) {
    .guest-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.card {
    margin: 20px;
    min-width: 300px;
    max-width: 300px;
}

.card-header {
    background-color: $grey-9 !important;
}

.card-body {
    text-align: left !important;
}

.card-footer {
    background-color: white;
    font-family: 'Playfair Display';
    font-weight: 500;

    input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
    }
    
    label {
        display: inline-block;
        background-color: white;
        margin: 10px;
        padding: 10px;
        width: 100px;
        color: $secondary-color-2;
        border: 1px solid $secondary-color-2;
        border-radius: .25rem;
    }

    input[type="radio"]:checked + label {
        background-color: $secondary-color-3;
        color: $grey-9;
    }
}


table {
    thead {
        background-color: $primary-color-9;
        color: $primary-color-1;
    }

    tbody {
        color: $grey-3;
    }
    padding-bottom: 25px;
}

.modal-header{
    padding-bottom: 5px;
}

.icon {
    border: none;
    background: transparent;
}

.fa-heart {
    color: $secondary-color-2;
}

.fa-frown {
    color: $primary-color-2;
}

.fa-question {
    color: $grey-4;
}

.fa-eye {
    color: $primary-color-3;
    cursor: pointer;
}

.fa-edit {
    color: $primary-color-3;
    cursor: pointer;
}

.fa-trash-alt {
    color: $grey-5;
    cursor: pointer;
}

.success-message {
    padding-top: 10px;
    color: $success-color
}

// Animation code from https://css-tricks.com/add-page-transitions-css-smoothstate-js/
.m-scene {
    .scene_element {
        animation-duration: 1s;
        transition-timing-function: ease-in;
        animation-fill-mode: both;
    }

    .scene_element--fadein {
        animation-name: fadeIn;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.unauthorized {
    font-size: $font-xl;
    color: black;
    font-weight: 700;
    display: none
}