@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import 'reset.css';
@import 'colors';
@import 'typography';

body {
    font-family: 'Roboto', sans-serif;
    color: $grey-9;
    display: flex;
    flex-direction: column;
}

header {
    background-color: $primary-color-6;
    padding-top: 20px;
    text-align: center;
    min-height: 7vh;
    
    .heading {
        color: $primary-color-2;
        font-size: $font-xxl;
        letter-spacing: 1px;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        margin: auto;
    }
    
    .tagline {
        color: $primary-color-2;
        font-size: $font-baseline;
        font-weight: 300;
    }
    
    .menu {
        font-size: $font-small;
        font-weight: 400;
        padding: 20px 25px 10px 25px;
        display: inline-block;
        
        li {
        list-style-type: none;
        padding: 10px 20px 10px 20px;
        }

        .navbar-light {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='hsl(210,90%,30%)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        button:focus {
            outline: 5px auto $secondary-color-4;
        }
    }
    
    a {
        text-decoration: none;
        color: $grey-9;
        font-weight: 300;
    }
    
    a:hover {
        font-weight:400;
        border-bottom: 5px;
        border-bottom-style: solid;
        color: $secondary-color-4;
        text-decoration: none !important;
    }
    
    a:active {
        font-weight:400;
        border-bottom: 5px;
        border-style: solid;
        color: $secondary-color-4;
    }
}

@media only screen and (min-width: 600px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%
    }

    .sticky + main {
        padding-top: 146px;
    }
}

main {
    min-height: 100vh;
    background-color: $grey-9;
    color: $primary-color-5;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    // display: flex;
    // flex-direction: column;
    // align-content: space-around;

    img {
        padding-bottom: 25px;
    }

    .guest-container {
        display: flex;
        justify-content: space-between;
    }
}

.button-container {
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 10px;
    
    button {
        background-color: $primary-color-4 !important;
        color: $grey-9;
        border-color: $primary-color-5;
        margin-right: 5px;
    }

    button:hover {
        background-color: $grey-9 !important;
        color: $primary-color-4;
    }
}

@media only screen and (max-width: 600px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
        min-height: 75vh;

        img {
            width: 100%;
        }
    }
}

footer {
    text-align: center;
    background-color: $primary-color-6;
    color: $grey-9;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 14px;
}

h1 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: $primary-color-3;
    font-weight: 500;
    font-size: $font-xl;
}

h2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: $primary-color-3;
    font-weight: 500;
    font-size: $font-large;
}

h3 {
    font-weight: 700;
    font-size: $font-baseline;
    text-decoration: underline;
    padding-bottom: 5px;
}

h4 {
    font-weight: 700;
    font-size: $font-baseline;
    padding-bottom: 5px;
}

form {
    p {
        padding-bottom: 15px;
        color: $grey-5;
        line-height: 120%;
    }
    
    div {
        text-align: left;
        
        label {
            padding-bottom: 3px;
        }
        
        ::placeholder {
            color: $grey-7;
        }
    }
    
    .error-messages {
        text-align: left;
        color: red !important;
        font-size: $font-xs;
        padding-bottom: 10px;
    }
}
    
.login {
    background-color: white;
    padding: 30px 30px 30px 30px;
    display: inline-block;
    // width: 400px;
}

table {
    thead {
        background-color: $primary-color-9;
        color: $primary-color-1;
    }

}

.narrow-table {
    width: 40%;
}

.fa-heart {
    color: $secondary-color-2;
}

.fa-frown {
    color: $primary-color-2;
}

.fa-question {
    color: $grey-4;
}

#rsvp-count {
    text-align: center;
}

.success-message {
    color: hsl(120,50%,40)
}

// Animation code from https://css-tricks.com/add-page-transitions-css-smoothstate-js/
.m-scene {
    .scene_element {
        animation-duration: 1s;
        transition-timing-function: ease-in;
        animation-fill-mode: both;
    }

    .scene_element--fadein {
        animation-name: fadeIn;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}