@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
@import url(reset.css);
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  color: #538cc6; }

header {
  background-color: #6699cc;
  padding-top: 20px;
  text-align: center;
  min-height: 7vh; }
  header .heading {
    color: #174d82;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin: auto; }
  header .dash-heading {
    color: #174d82;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
    font-weight: 500; }
  header .tagline {
    color: #174d82;
    font-size: 20px;
    font-weight: 300; }
  header .menu {
    font-size: 16px;
    padding: 10px 25px;
    display: inline-block; }
    header .menu li {
      list-style-type: none;
      padding: 10px 20px 10px 20px; }
    header .menu .navbar-light {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='hsl(210,90%,30%)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
    header .menu button:focus {
      outline: 5px auto #ffd3cc; }
  header a {
    text-decoration: none;
    color: #f0f2f4;
    font-weight: 300; }
  header a:hover {
    font-weight: 400;
    border-bottom: 5px;
    border-bottom-style: solid;
    color: #ffd3cc;
    text-decoration: none !important; }
  header a:active {
    font-weight: 400;
    border-bottom: 5px;
    border-style: solid;
    color: #ffd3cc; }

@media (min-width: 1024px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2; }

  .sticky + main {
    padding-top: 131px; } }
main {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f0f2f4;
  min-height: 100vh;
  text-align: center; }
  main a {
    color: #2966a3; }
  main img {
    padding: 25px; }
  main .guest-container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 5px; }

@media (max-width: 1124px) {
  main {
    padding-left: 10%;
    padding-right: 10%; } }
.button-container {
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 10px; }
  .button-container button {
    background-color: #4080bf !important;
    color: #f0f2f4;
    border-color: #538cc6;
    margin-right: 5px; }
  .button-container button:hover {
    background-color: #f0f2f4 !important;
    color: #4080bf; }

@media (max-width: 867px) {
  main {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 80vh; }
    main img {
      width: 100%; } }
footer {
  text-align: center;
  background-color: #6699cc;
  color: #f0f2f4;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px; }

b {
  font-weight: 400;
  font-size: 17px; }

h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  padding-top: 25px;
  color: #2966a3;
  font-weight: 500;
  font-size: 30px; }

h2 {
  padding-top: 5px;
  padding-bottom: 10px;
  color: #2966a3;
  font-weight: 300;
  font-size: 20px; }

h3 {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 5px; }

h4 {
  color: #4080bf;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px; }

form p {
  padding-bottom: 15px;
  color: #98a6b3;
  line-height: 120%; }
form div {
  text-align: left; }
  form div label {
    padding-bottom: 3px; }
  form div ::placeholder {
    color: #d3d9de !important; }
form .btn {
  background-color: #ec9f93 !important;
  color: #f0f2f4;
  border-color: #ffd3cc !important; }
form .btn:hover {
  background-color: white !important;
  color: #ec9f93 !important; }
form .error-messages {
  text-align: left;
  color: red !important;
  font-size: 14px;
  padding-bottom: 10px; }

.login {
  background-color: white;
  padding: 30px 30px 30px 30px;
  display: inline-block;
  max-width: 400px; }

.guest-info {
  text-align: left !important;
  line-height: 200%; }

.guest-cards {
  display: inline-grid;
  grid-template-columns: auto auto auto; }

@media (max-width: 1340px) {
  .guest-cards {
    display: inline-grid;
    grid-template-columns: auto auto; } }
@media (max-width: 867px) {
  .guest-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; } }
.card {
  margin: 20px;
  min-width: 300px;
  max-width: 300px; }
  .card a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer; }
  .card .edit-text {
    padding: 10px 20px;
    text-align: right;
    cursor: pointer; }

.card-header {
  background-color: #f0f2f4 !important; }

.card-body {
  text-align: left !important;
  padding-top: 0px !important;
  font-weight: 300; }

.card-footer {
  background-color: white;
  font-family: 'Playfair Display';
  font-weight: 500; }
  .card-footer input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0; }
  .card-footer label {
    display: inline-block;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 100px;
    color: #ec9f93;
    border: 1px solid #ec9f93;
    border-radius: .25rem; }
  .card-footer input[type="radio"]:checked + label {
    background-color: #f2b0a6;
    color: #f0f2f4; }
  .card-footer button {
    display: inline-block;
    margin: 10px 10px 5px 10px;
    padding: 10px;
    width: 100px;
    border: 1px solid #ec9f93;
    border-radius: .25rem;
    background-color: white;
    color: #ec9f93; }
  .card-footer .active {
    background-color: #ec9f93;
    color: white; }

table {
  margin-bottom: 25px; }
  table thead {
    background-color: #b3cce6;
    color: #0f3357;
    font-weight: 400; }
  table tbody {
    color: #627384; }

.modal {
  text-align: center; }

.modal-dialog {
  margin-top: 10%; }

@media (max-width: 1024px) {
  .modal-dialog {
    margin-top: 30%; } }
.modal-header {
  padding-bottom: 5px; }

.icon {
  border: none;
  background: transparent; }

.fa-heart {
  color: #ec9f93; }

.fa-frown {
  color: #174d82; }

.fa-question {
  color: #7b8c9d; }

.fa-eye {
  color: #2966a3;
  cursor: pointer; }

.fa-edit {
  color: #2966a3;
  cursor: pointer; }

.fa-trash-alt {
  color: #98a6b3;
  cursor: pointer; }

.success-message {
  padding-top: 10px;
  color: #339933; }

.m-scene .scene_element {
  animation-duration: 1.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both; }
.m-scene .scene_element--fadein {
  animation-name: fadeIn; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.unauthorized {
  font-size: 30px;
  color: black;
  font-weight: 700;
  display: none; }

.address-container {
  display: flex; }

address {
  vertical-align: text-bottom;
  line-height: 110%; }

.label {
  padding-right: 3px; }

/*# sourceMappingURL=app.css.map */
